<!-- FONT AWESOME -->
<script src="https://kit.fontawesome.com/0997eac26d.js" crossorigin="anonymous"></script>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <i class="social-icons fa-brands fa-twitter"></i>
    <i class="social-icons fa-brands fa-facebook"></i>
    <i class="social-icons fa-brands fa-instagram"></i>
    <i class="social-icons fa-solid fa-envelope"></i>

    <p>© Copyright</p>
    <p>Made by Aditya Vatsya</p>
  </div>
</div>
</body>
</html>
